*{
    /* border:1px solid red; */
}
:root{
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #f10018;
    --bs-orange: #dea77a;
    --bs-yellow: hwb(45 43% 11%);
    --bs-green: hsl(150, 27%, 9%);
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #0f0000;
    --bs-white: #fff;
    --bs-gray: #3d3d3e;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0d7084;
    --bs-warning: hsl(37, 92%, 54%);
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
}

.image{
    background: url(../image/background/slider-home-v1.jpg);
    padding: 200px 0px;
    background-size: 100% 100%;
}
.head{
    font-size: 20px;
}
#filter{
    filter: grayscale(30%);
}
#filter:hover{
    filter: grayscale(0%);
}
#filter2{
    filter: grayscale(30%);
}
#filter2:hover{
    filter: grayscale(0%);
}
#filter3{
    filter: grayscale(30%);
}
#filter3:hover{
    filter: grayscale(0%);
}
#custom:hover{
   background-color: #0dcaf0 !important;
}
#custom1:hover{
    background-color: #0dcaf0 !important;
 }
 #custom2:hover{
    background-color: #0dcaf0 !important;
 }
 #logo:hover{
    background-color: #0dcaf0 !important;
 }
 #logo1:hover{
    background-color: #0dcaf0 !important;
 }
 #logo2:hover{
    background-color: #0dcaf0 !important;
 }
 #logo3:hover{
    background-color: #0dcaf0 !important;
 }
 .title{
    margin-top: 120px;
 }
 .title1{
    margin-top: 200px;
 }
 .video{
    background: url(../image/background/bg-video.jpg) no-repeat;
    padding: 350px 0px;
    background-size: 100% 100%;
 }
 .service{
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url(../image/background/paul-kansonkho-1920.jpg) no-repeat;
    padding: 350px 0px;
    background-size: 100% 100%;
 }
 .call{
    color: var( --bs-red);
 }
.advantage{
    background-color: var( --bs-gray-300);
}
.scale1:hover{
    transform: scale(0.9);
    transition-duration: 1s;
}
.scale2:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

.effect:hover{
    color: var(--bs-gray-100);
}
.clr{
    color: var(--bs-info);
}